name: SQL Safety Check

on:
  pull_request:
    branches:
    - main

jobs:
  check-sql:
    name: Check for Dangerous SQL in PR
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Get list of changed SQL files
      id: changed-files
      uses: tj-actions/changed-files@v44
      with:
        files: '**/*.sql'

    - name: SCan SQL files for DELETE, DROP, TRUNCATE
      run: |
        found=0
        keywords='delete|drop|truncate'

        echo "Checking for dangerous SQL statements..."

        for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
          echo "Scanning: $file"

          if grep -Ei "\b($keywords)\b" "$file"; then
            echo "Dangerous SQL statement found in $file"
            found=1
          fi

          inside_update=o
          update_statement=""
          line_number=0

          while IFS= read -r line; do
            [ -z "$line" ] && continue
            line_number=$((line_number + 1))
            trimmed_line=$(echo "$line" | tr -d '[:space:]' | tr '[:upper:]' '[:lower:]')

            if [[ "$trimmed_line" == update* ]]; then
              inside_update=1
              update_statement="$line"
              continue
            fi
          
            if [[ $inside_update -eq 1 ]]; then
            update_statement="$update_statement $line"
            if echo "$line" | grep -q ";"; then
              inside_update=0
              if ! echo "$update_statement" | grep -Eiq '\bwhere\b'; then
                echo "UPDATE statement without WHERE at or near line $line_number in $file"
                echo "  -> $update_statement"
                found=1
              fi
              update_statement=""
            fi
          fi
          done < "$file"  
        done

        if ["$found" -eq 1]; then
          echo "PR blocked: DELETE, DROP or TRUNCATE statements found."
          exit 1
        else
          echo "All SQL checks passed."
        fi
  
